<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="52428800" maxBufferSize="6553600"
          maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="32" maxStringContentLength="6553600"
            maxArrayLength="6553600" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="metadata" name="MyHelloWorld.AppServer">
        <endpoint binding="basicHttpBinding" bindingConfiguration="NewBinding0" contract="MyHelloWorld.IAppServer" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/AppServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadata">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"></serviceHostingEnvironment>
  </system.serviceModel>
</configuration>
