<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WFHost.Properties.Settings.testConnectionString" connectionString="Data Source=.;Initial Catalog=test;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkflowService">
          <sqlWorkflowInstanceStore connectionStringName="WFHost.Properties.Settings.testConnectionString"/>
          <workflowIdle timeToPersist="0" timeToUnload="0"/>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="DocumentReviewLib.DocumentReviewWorkflow" behaviorConfiguration="WorkflowService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/DRS"/>
          </baseAddresses>
        </host>
        <endpoint contract="ITicket" address="" binding="basicHttpBinding"></endpoint>
      </service>

      <service name="WFHost.CommonService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Common"/>
          </baseAddresses>
        </host>

        <endpoint contract="WFHost.ICommonService" binding="basicHttpBinding" address=""></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>